.kit-name-label{
    font-size: x-large;
    text-align: center;
    background-color: #6AB8C1!important;
    padding: 31px!important;
}

.lonely-name-label{
    font-size: x-large;
    text-align: center;
    background-color: #6AB8C1!important;
    padding: 31px!important;
}

.kit-name-label p{
    margin: 0;
    color: #FFFFFF;
    font-weight: bold;
}

.lonely-name-label p{
    margin: 0;
    color: #FFFFFF;
    font-weight: bold;
}

.table-container{
    margin: 30px auto 30px auto;
    padding: 0 10px;
}

thead tr{
    /*background-color: #FFBC58!important;*/
    background: url("../img/table-header.jpg") bottom !important;
    color: #FFFFFF;
}

.font-small{
    font-size: small!important;
}

.no-margin{
    margin: 0!important;
}

.green-background{
    background-color: #3dc235!important;
}

.red-background{
    background-color: #CF3D44!important;
}

.padding-10{
    padding: 10px!important;
}

.padding-5{
    padding: 5px!important;
}

.white-color{
    color: #FFFFFF!important;
}

.border-radius-10{
    border-radius: 10px!important;
}

/*main*/

#alert{
    display: none;
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100vh!important;
    background-color: #CF3D44!important;
}

#alert p{
    margin: 200px auto auto!important;
    display: block!important;
    color: #FFFFFF!important;
    font-size: 60px!important;
    text-align: center!important;
    text-shadow: none!important;
}

#close-alert{
    width: 70%!important;
    margin: 20px auto auto!important;
    border-radius: 10px!important;
    font-size: x-large!important;
}

/*end main*/


/*env kit*/

.env-kit-ul{
    width: 99%;
    margin: 50px auto auto!important;
}

.env-kit-ul li {
    margin-bottom: 10px!important;
}

.kit-objects{
    width: 99%;
    margin: 50px auto auto!important;
}

.lonely-objects-list{
    width: 99%;
    margin: 50px auto auto!important;
}

.kit-objects li {
    margin-bottom: 10px!important;
}

.complete-kit a{
    border: 2px solid #3dc235!important;
    background-color: #3dc235!important;
    color: #FFFFFF!important;
    text-shadow: none!important;
    border-radius: 10px!important;
    text-align: center!important;
    font-size: x-large!important;
    font-weight: bold!important;
}

.lonely-objects a{
    border: 2px solid #FFB950!important;
    background-color: #FFB950!important;
    color: #FFFFFF!important;
    text-shadow: none!important;
    border-radius: 10px!important;
    text-align: center!important;
    font-size: x-large!important;
    font-weight: bold!important;
}

.incomplete-kit a{
    border: 2px solid #CF3D44!important;
    background-color: #CF3D44!important;
    color: #FFFFFF!important;
    text-shadow: none!important;
    border-radius: 10px!important;
    text-align: center!important;
    font-size: x-large!important;
    font-weight: bold!important;
}
/*end env kit*/


/*kit objects*/
.missing-object{
    border: 2px solid #CF3D44!important;
    background-color: #CF3D44!important;
    color: #FFFFFF!important;
    text-shadow: none!important;
    border-radius: 10px!important;
    text-align: center!important;
    font-size: large;!important;
    font-weight: bold!important;
}

.lonely-object{
    border: 2px solid #CF3D44!important;
    background-color: #CF3D44!important;
    color: #FFFFFF!important;
    text-shadow: none!important;
    border-radius: 10px!important;
    text-align: center!important;
    font-size: large;!important;
    font-weight: bold!important;
}
/*end kit objects*/